@page
@model Team5.Web.Pages.ManageCage.IndexModel

@{
    ViewData["Title"] = "Manage Cage";
}

<h1>Manage Cage</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cage[0].NumberCage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cage[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cage[0].Status)
            </th>
 <th>
                @Html.DisplayNameFor(model => model.Cage[0].AnimalSpecie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cage[0].ZooSection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cage[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cage[0].UpdatedDate)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.Cage[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cage[0].UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cage[0].IsDeleted)
            </th>
 *@            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cage) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberCage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
 <td>
                @Html.DisplayFor(modelItem => item.AnimalSpecie.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZooSection.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
 *@            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-page="./AssignAnimal" asp-route-cageNumber="@item.NumberCage">Assign Animal</a>
            </td>
        </tr>
}
    </tbody>
</table>

@* Paging *@
<div class="btn-group">
    @if (Model.HasPreviousPage)
    {
        <a class="btn btn-outline-dark" asp-page="Index" asp-route-pageindex="@(Model.PageIndex - 1)">Previous</a>
    }
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (i == Model.PageIndex)
        {
            <a class="btn btn-outline-dark disabled">@i</a>
        }
        else
        {
            <a class="btn btn-outline-dark" asp-page="Index" asp-route-pageindex="@i">@i</a>
        }
    }
    @if (Model.HasNextPage)
    {
        <a class="btn btn-outline-dark" asp-page="Index" asp-route-pageindex="@(Model.PageIndex + 1)">Next</a>
    }
</div>
