@page
@model Team5.Web.Pages.ManageZooNews.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZooNews</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooNews.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooNews.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooNews.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooNews.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooNews.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooNews.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooNews.ImageLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooNews.ImageLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooNews.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooNews.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooNews.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooNews.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooNews.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooNews.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooNews.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooNews.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooNews.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooNews.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooNews.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooNews.Owner.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ZooNews?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
