@page
@model Team5.Web.Pages.ManageZooSection.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ZooSection</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooSection.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooSection.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooSection.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooSection.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooSection.ZooSectionStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooSection.ZooSectionStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooSection.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooSection.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooSection.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooSection.UpdatedDate)
        </dd>
@*         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooSection.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooSection.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooSection.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooSection.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooSection.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooSection.IsDeleted)
        </dd>
     </dl>*@
    
    <form method="post">
        <input type="hidden" asp-for="ZooSection.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
