@page
@model Team5.Web.Pages.ManageAnimalSpec.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AnimalSpecie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalSpecie.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalSpecie.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalSpecie.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalSpecie.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalSpecie.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalSpecie.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalSpecie.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalSpecie.UpdatedDate)
        </dd>
      @*  <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalSpecie.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalSpecie.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalSpecie.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalSpecie.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalSpecie.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalSpecie.IsDeleted)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AnimalSpecie?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
