@page
@model Team5.Web.Pages.ManageAnimalSpec.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AnimalSpecy</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalSpecy.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalSpecy.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalSpecy.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalSpecy.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalSpecy.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalSpecy.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalSpecy.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalSpecy.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalSpecy.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalSpecy.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalSpecy.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalSpecy.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalSpecy.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalSpecy.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AnimalSpecy?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
